snippet for "for loop"
for $1 in $2:
    $3
endsnippet

snippet while "while loop"
while $1:
    $2
endsnippet

snippet if "single if"
if $1:
    $2
endsnippet

snippet elif "signle elif"
elif $1:
    $2
endsnippet

snippet else "simple else"
else:
    $1
endsnippet

snippet class "python class"
class $1:
    def __init__(self, $2):
	$3
endsnippet

